body,a,table,div,span,td,th,input,select,p,li,textarea{font-size:9pt;font-family:ו}

input.dlgBtnCommon {width:60px}
input.dlgBtnBrowse {width:63px;height:18px;margin-left:2px;padding-top:0px;}
input.dlgBtnFind {width:80px}

body {margin:0px;padding:0px;border:0px}

.Menu_Image, .Menu_Image_Disabled{overflow:hidden;width:16px;height:16px;margin:2px;background-repeat: no-repeat;}
.Menu_Image img, .Menu_Image_Disabled img{position: relative;}
.Menu_Image_Disabled img {FILTER: gray}

table.Menu_Box {border:1px solid #002D96;background-image:url(menubg.gif)}
td.Menu_Box {padding:2px 4px 2px 2px;}

td.MouseOver {height:20px;border:1px solid #000080;padding:0px;background-color:#FFEEC2;cursor:default;}
td.MouseOut,td.MouseDisabled {height:20px;border:0px;padding:1px;cursor:default;}


td.Menu_Label, td.Menu_Label_Disabled {white-space: nowrap;padding-left:3px;vertical-align:middle;color:#000000}
td.Menu_Label_Disabled {color:#8D8D8D}

td.Menu_Sep {padding:1px 0px 1px 24px;}
table.Menu_Sep  {width:100%;height:1px;border-width:1px 0px 0px 0px;border-style:solid;border-color:#7897CF;}