html { _overflow-y: scroll; } 
body{ background-color:#000000}
input, textarea,button { font-size: 12px;}
td, div {font-size:12px;word-wrap:break-word;}
form {margin:0px;padding:0px;}
select { font-size: 12px; border-width:1px;
    height: 16px;
}
fieldset { border:1px solid #C6D8DA; margin:10px;}
legend { font-weight:bold; color:midnightblue; }
img {border:0;vertical-align:middle}



.extends-third-part-icon,
.third-part .sina,
.third-part .linkin,
.third-part .baidu,
.third-part .qq,
.third-part .google,
.third-part .github {
  display: inline-block;
  background-image: url("../style/images/login-third-party.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
.third-part .sina {
  background-position: 0 0;
}
.third-part .linkin {
  background-position: -37px 0;
}
.third-part .baidu {
  background-position: -74px 0;
}
.third-part .qq {
  background-position: -112px 0;
}
.third-part .google {
  background-position: -149px 0;
}
.third-part .github {
  background-position: -186px 0;
}

.inputbg {border:0px; border-bottom:1px solid #999999; background:transparent}
.trSplit td {border-top:3px solid #e9e9e9;}
.explain {background:#FEFFEF url(../style/images/admin.gif) no-repeat 0 0;border:1px solid #D1D401;color:#666; padding:2px 5px 2px 20px;line-height:1.8em;font-weight:normal;margin-left:5px;}
.warning{background:#FEFFEF url(../style/images/admin.gif) no-repeat 0 0;border:1px solid red;color:red; padding:2px 5px 2px 20px;line-height:1.8em;font-weight:normal;margin-left:0px;}


.inpu{ border:1px #BED8E9 solid; background:url(../style/images/inpubg.gif) repeat-x; height:21px; line-height:21px; padding:0;}
.ddl{ border:1px #BED8E9 solid; background:url(../style/images/inpubg.gif) repeat-x; height:25px; line-height:25px; padding:2px;width:135px}
.inpu:hover{height:21px;    background-color: #F5F9FD;   padding: 0px;  border: 1px double #3399ff;}
.mimgtt{ border:1px #BED8E9 solid; background:url(../style/images/inpubg.gif) repeat-x; height:21px; line-height:21px; padding:0;}
.mimgtt:hover{height:21px;    background-color: #F5F9FD;   padding: 0px;  border: 1px double #3399ff;}

.btnn{ background:url(../style/images/tj.gif) no-repeat; width:83px; height:27px; border:0; font-size:0;}
.ttn{ background:url(../style/images/ttn.png) no-repeat; width:66px; height:27px; border:0; color:#FFF; cursor:pointer}
.ftn{ background:url(../style/images/ftn.png) no-repeat; width:88px; height:27px; border:0; color:#FFF; cursor:pointer}
.btn{ background:url(../style/images/btn.png) no-repeat; width:170px; height:25px; border:0; color:#FFF; cursor:pointer}
.pager {font-family:verdana;padding:5px;height:25px;clear:both;word-break:keep-all}
.pager ul {padding:0;margin:0;list-style-type:none;}
.pager li {float:left;margin:0 5px 0 0;color:#999;}
.pager li.p_total {background:#FFF; font-weight:bold; color:#88af3f;; border:1px solid #ddd; padding:3px 5px;}
.pager li.p_current {background:#b2e05d; color:#FFF; border:1px solid #b2e05d; padding:3px 5px;}
.pager li.p_nolink {color:#ccc; border:1px solid #f3f3f3; padding:3px 5px;}
.pager li a:link, .pager li a:visited {float:left; color:#88af3f;background:#fff; border:1px solid #ddd; padding:3px 5px; text-decoration:none !important;}
.pager li a:hover, .pager li a:active {background:#f1ffd6; color:#638425; border-color:#85bd1e;}
.pager li input {float:left;font-family:verdana;border:1px solid #ddd;color:#999;width:1.5em;padding:2px 0; *padding:3px 0; text-align:center; }

a.highlight:link, a.highlight:visited { color:red; text-decoration:none }
a.highlight:hover { color:red; text-decoration:underline }

a.thisclass:link, a.thisclass:visited, a.thisclass:hover { font-weight:bold; text-decoration:none }

.grid {border:1px solid #E8F5FE;width:100%;}
.gridHead {background:#E8F5FE;font-weight:bold;color:black;height:28px;text-align:center }
.grid td { border:1px #C6D8DA solid;}
.grid th { border:1px #C6D8DA solid;text-align:center}
th {color:#333;font-weight:bold;text-align:right}
th label {font-weight:normal}
hr {border:1px solid #C6D8DA;width:100%;}

.gray { color:#bbb; text-decoration:none }
.time { color:red }
.hit { color:green }

.tdbg {background:#fff}
.tdbg-dark {background:#E8F5FE}

body {background:white;font-size:12px;font-family:tahoma,宋体;}
.quote { margin:10px; margin-left:2em; border:1px solid #CCCCCC; padding:5px;  background: #FFFFFF; font-family:Verdana,Arial,宋体; word-break:break-all; }
a:link {color:#333399;text-decoration:none;}
a:visited {color:#333399;text-decoration:none;}
a:hover {color:#ff0000;text-decoration:underline;}
.twidth {width:760px;text-align:left;margin-left:auto;margin-right:auto;}
td {font-size:12px;}

.div_contenttop{width:98%;margin-left:auto;margin-right:auto;}
.table_pop{padding-top:30px;padding-left:20px;}
.content_table{margin-left:80px;margin-right:auto;}
.mframe {width:98%;margin-left:auto;margin-right:auto;}
.mframe table {table-layout:fixed;}
.mframe td table {table-layout:auto;}
.mframe td.tm {height:26px; line-height:26px;background:url(../style/images/bg1.gif) repeat-x 0 -84px;border-top:#C6DAE5 1px solid;border-bottom:#C6DAE5 1px solid;}
.mframe td.tl {width:1px;background:#C6DAE5;}
.mframe td.tr {width:1px;background:#C6DAE5;}
.mframe span.tt {color:#00080D;font-weight:bold;padding-left:35px; font-size:12px; background:url(../style/images/ico1.gif) no-repeat 11px 5px; display:block;}
.mframe td.mm {background:white;padding:3px;}
.mframe td.ml {width:1px;background:#C6DAE5;}
.mframe td.mr {width:1px;background:#C6DAE5;}
.mframe td.bm {height:13px;border-top:1px solid #C6DAE5; font:0px;}
.mframe td.bl {width:0px;background:none transparent scroll repeat 0% 0%;}
.mframe td.br {width:0px;background:none transparent scroll repeat 0% 0%;}

.crumd{ color:#6AA1BD; height:26px; line-height:22px; background:url(../style/images/h.png) no-repeat 0 5px; padding-left:22px;color:#6AA1BD;}
.crumd a:link,.crumd a:hover,.crumd a:visited{color:#6AA1BD;}

.tabs { position:relative;}
.tabs .s2{ position:absolute; left:110px; top:-4px}
.tabs .s2 a{ float:left; display:block; height:31px; line-height:31px; margin:0 3px; }
a.tab_on:link, a.tab_on:visited { font:bold 12px;color:white; background:#47A9DC; padding:0px 10px; height:30px; border:1px solid #078DD2; text-decoration:none;}
a.tab_off:link, a.tab_off:visited { font:12px; background:#EFF8FF;      padding:0px 10px; height:30px; border:1px solid #C6D9E5; }
a.tab_off:hover { background:#47A9DC; color:white; border-color:#078DD2; border-bottom-color:transparent; text-decoration:none;}

/*新添加样式*/
.vldMsg {display:none;border:1px solid #ddd;background:infobackground;padding:2px 5px;color:red;}

.aj_msg {position:absolute;padding:4px 5px;border:1px solid #999;background:infobackground;color:#333;font:9pt 宋体 arial;white-space:nowrap;}
.aj_msgTop {background:#FFF1A8;border:0;color:#666;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px}
.aj_form {display:none;position:absolute;background:#fff url(../style/images/bg_ajForm.gif) repeat-x;border:1px solid #CAD9EA;padding:5px}
.aj_form button {background:#FFF8C5;border-right:1px solid #FDB939;border-bottom:1px solid #FDB939;color:#008800;height:23px;line-height:23px;}
.aj_title {font-weight:bold;padding:4px 0 5px 20px;margin-bottom:10px;border-bottom:1px solid #9ef}

/*内容管理当前修改链接*/
.linkOn {background:#FFECD7;border-left:3px solid #fc9;padding:2px 5px}

/* 文字竖排 */
.vTxt {padding-top:20px;}
.vTxt ul {list-style:none outside none;margin:0;padding:0}
.vTxt li {width:20px;text-align:center;float:left}


/* 美化select */
a.sel {position:absolute;color:#333;font-size:12px;border:1px solid #5B9BE1;background:url(../style/images/btnBg.gif) no-repeat right -50px;text-indent:5px;cursor:pointer;overflow:hidden;text-decoration:none}
a.sel span {display:block;white-space:nowrap;line-height:22px;margin-right:20px;overflow:hidden}
ul.sel {position:absolute;display:block;border:1px solid #999;border-top:0;margin:0;padding:0;list-style:none}
ul.sel li {background:#fff;color:#666;font-size:12px;line-height:22px;cursor:pointer;text-indent:5px;overflow:hidden;white-space:nowrap}
ul.sel li.over {background:#f0f0f0;color:#333}
ul.sel li.chk {background:#DFEDFA;color:#333}

.aj_sel {position:absolute;padding:4px 5px;border:1px solid #F0F0F0;background:#fff;color:#333;font:9pt 宋体 arial;white-space:nowrap;}

/* spin 脚本 */
table.spin {display:inline-table;*display:inline;vertical-align:middle}
button.spinPlus, button.spinMinus {display:block;height:10px;width:20px;font-size:5pt;line-height:10pt;padding:0;border-width:2px;background:buttonface url(../style/images/spin.gif) no-repeat center 0}
button.spinMinus {background-position:center -10px}

/* 醒目的功能链接 */
a.fLink {padding:2px 6px;border:1px solid #B7D6F4;background:url(../style/images/btnBg.gif) repeat-x 0 -100px;}
a.fLink:hover {color:white;background-position:0 -150px;text-decoration:none}

/* 添加新闻时选择分类菜单 */
.aj_sel {position:absolute;padding:4px 5px;border:1px solid #ccc;background:#fff;color:#333;font:9pt 宋体 arial;white-space:nowrap;}
.clink {padding:2px 20px 2px 5px;color:#333;font-size:12px;border:1px solid #B9D8F7;background:url(../style/images/btnBg.gif) no-repeat right -50px;text-indent:5px;cursor:pointer;overflow:hidden;text-decoration:none}
.cmenu img.opened {background:url(../style/images/cmenu.gif) no-repeat;width:15px;height:10px}
.cmenu img.closed {background:url(../style/images/cmenu.gif) no-repeat 0 -100px;width:15px;height:10px}
.cmenu img.space {width:15px;height:10px}
.cmenu {color:#aaa;width:200px;height:300px;background:#F9FBFE;overflow:auto;padding:10px 0}
.cmenu ul {list-style:none;line-height:20px;margin:0;padding:0 12px}

.scrollbar{ scrollbar-shadow-color: #ffffff; scrollbar-highlight-color: #ffffff; scrollbar-face-color: #d9d9d9; scrollbar-3dlight-color: #d9d9d9; scrollbar-darkshadow-color: #d9d9d9; scrollbar-track-color: #ffffff; scrollbar-arrow-color: #ffffff}

 /*只显一条横线的输入框*/
.txt_oneLine{ border-right: #ffffff 0px solid; border-top: #ffffff 0px solid;font-size: 9pt;border-left: #ffffff 0px solid;border-bottom: #c0c0c0 1px solid;background-color: #ffffff;color:red;text-align:center;}







